
.idea/.name

.idea/workspace.xml

.idea/vcs.xml

.idea/Innobit.php-xapi-sdk.iml

.idea/codeStyleSettings.xml

.idea/dictionaries/tondi.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

/vendor/
